.checkout-container{
    margin: 3rem auto;
}

.checkout-container h2{
    padding-bottom: 28px;
    text-align: center;
    font-family: "Bungee", cursive;
    font-size: 25px;
    color: var( --ternary-color);
}

.checkout-container .checkout-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 80%;
    width: 100%;
    margin: 1rem auto;
}

.checkout-address .address-title{
    padding: 0.5rem 0;
    font-size: 24px;
    font-weight: bold;
}

.checkout-address .address-list{
    display: flex;
    flex-direction: column;
  
   
}

.checkout-address .address-list .address{
    display: flex;
    align-items: baseline;
    gap: 1.4rem;
    padding: 1rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkout-address .address .address-name{
    font-weight: bold;
    font-size: 18px;
}
.address{
    accent-color: var(--secondary-color);
}


.add-address-btn{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    /* font-weight: bold; */
    font-size: 16px;
}

.add-address-btn:hover{
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.add-address-btn .add-address-icon{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .checkout-container .checkout-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .checkout-container{
        display: block;
        max-width: 100%;
    }
}