.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 3px 4px rgba(20, 20, 20, 0.4);
  border-radius: 5px;

}

.category {
  padding: 0.2rem 0.6rem 0.4rem;
  position: absolute;
  top: 0;
  color: white;
  background-color: black;
  border-radius: 0 0 14px;
}

.category p {
  font-size: 16px;
}

.wishlist-btn {

  padding: 0.4rem 0.3rem 0 0.3rem;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}

.wishlist-btn:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
  transform: scale(1.09);
}

.product-img {
  width: 100%;
  height: 320px;
  transition: transform 0.5s;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-img:hover {

  opacity: 0.6;
  cursor: pointer;
}

.card-details {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

.card-details h4 {
  font-family: "Dosis", sans-serif;
  padding-top: 0.1rem;
  font-size: 1.4rem;
  font-style: oblique;
  color: var(--text-secondary-color);

}

.card-tag {
  display: flex;
  align-items: center;
  margin-left: 190px;
  padding-left: 0.5rem;
  grid-gap: 2px;
  gap: 2px;
  border-radius: 15px;
  background-color: #FF3B60;
  color: #fff;

}

.star-value {
  font-size: 14px;
  color: white
}

.price-delivery-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -225px;
}

.prices {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--secondary-color);
}

.old-price {
  font-size: small;
  text-decoration: line-through;
  color: var(--text-secondary-color);
}

.new-price {
  font-size: large;
  font-weight: bold;
}

.card-details button {
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0.6rem 0;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.shopping svg {
  padding-top: 10px;
}

.card-details .move-to-cart-btn:hover{
  background-color: #29B7FF;
}
.card-details .add-to-cart-btn:hover {
  background-color: white;
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
}


.wishlist-fav-icon {
  color: red;
}

.wishlist-btn:hover {
  cursor: pointer;
}

/* @media (min-width: 768px) {
  .product-card {
    width: 16rem;
    gap: 1rem;

  }
} */