.nav-left{
    grid-area: logo;
    display: flex;
    align-items: center;
}
h3{
    font-family: 'Bungee', cursive; 
    color: white;
}
h3:hover{
    transition: 0s;
    font-family: 'Bungee', cursive; 
    color: #29B7FF;
}
/* .nav-left .app-name{
    /* font-size: 1rem; */
    /* font-family: 'Bungee', cursive; */
    /* text-transform: uppercase; */
    /* font-family: 'Bree Serif', serif; 
} */


/* .nav-left img{
    width: 2rem;
    height: 2rem;
} */


.nav-search{
    grid-area: search;
    width: 1fr;
    padding: 0.1rem;
    margin: 0.3rem;
    border: 1px solid white;
    background-color: white;
    display: flex;
    
}

.nav-search input{
    width: 100%;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    /* background-color: white; */
    /* background-color: var(--ternary-color); */
}
.nav-right{
    grid-area: icons;
    justify-self: end;
    display: flex;
    align-items: center;
}

.nav-right .nav-icon{
    padding: 0.5rem;
    align-self: center;
    position: relative;
    color: white;
    
}
.nav-icon:hover{
    color: #29B7FF;
}
.nav-icon p{
    position: absolute;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    top: 0.15rem;
    left: 1.2rem;
    
    background-color: #29B7FF;
    color: white;
    font-size: 0.7rem;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 5px 5px;
    border-radius: 15% 0 15%;
    background-color: var(--ternary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo icons"
        "search search";
    
}

/* .navbar:hover{
    transition: 0s;
color:#29B7FF;
} */
@media (min-width: 768px){
    .navbar{
        padding: 0.7rem 1.4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "logo search icons";
    }
    .nav-left img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .nav-left .app-name{
        font-size: 2.1rem;
    }
    .nav-right .nav-icon{
        padding: 0.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    .nav-icon:hover{
        cursor: pointer;
    }
}
@media (min-width: 1024px){
    .nav-left .app-name{
        font-size: 2.3rem;
    }
    .nav-right .nav-icon{
        padding: 0.7rem;
    }
    .nav-icon P{
        left: 1.5rem;
    }
}
