 /* desktop first approach used first */



.product-sidebar{
    position: sticky;
    top: 0.3rem;
    left: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
 
}

.filter-title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

.filter-heading{
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Dosis', sans-serif;
    /* font-size: 1.1rem; */
}

.clear-wrapper-container{
    display: flex;
    align-items: center;
}

.clear-filter{
    /* font-family: 'Dosis', sans-serif; */
    /* font-style: italic; */
    font-size: 1.4rem;
    
    padding: 0.4rem 0.4rem;
    border-radius: 5px;
    background-color: #29B7FF ;
    color:var(--secondary-color);
    /* text-transform: uppercase; */
}

.clear-filter:hover{
    cursor: pointer;
    background-color: white;
    outline: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

 /* hide filter icons on large screen */

.close-btn{
    display: none;
    padding: 0;
    margin-left: 0.5rem;
  
}

.close-btn svg{
    color: white;
}
.filter-wrapper{
    border-top: 1px solid var(--secondary-color);
    padding-bottom: 0.5rem;
}

.category-list {
    font-family: 'Dosis', sans-serif;
        /* font-family: "PT Sans Narrow", sans-serif; */
        background: var(--body-bg-color);
        width: 80%;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        font-size: 1.5rem;
        color: var(--font-color);
        border: 1px solid #242424;
}


.filter-title{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding-top: 0.5rem;
}

.filter-wrapper label,
.filter-wrapper input[type='range']{
    cursor: pointer;
    font-size: 1rem;
}

.filter-wrapper .filter-value{
    padding: 0.5rem 0;
    font-size: 1rem;
    color: var(--secondary-color);
}

.filter-value label{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.2rem 0;
}

.filter-category > *,
.filter-rating > *,
.filter-sort > *{
    display: block;
}

.filter-rating{
    display: flex;
    justify-content: space-between;
  
}

.filter-rating span{
    display: flex;
    align-items: center;
}

.filter-rating span svg{
    color:#FF3B60;
}

.filter-rating + input{
    width: 100%;
}

.filter-value{
    accent-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .product-sidebar{
        display: none;
        height: fit-content;
        border-top: 3px solid;
        border-bottom: 3px solid;
        border-color: #242424;

    
    }

    .filter-title-bar{
        margin-top: 0;
    }

    .filter-wrapper,
    .product-sidebar .title{
        padding: 0.5rem 1rem;
    }

    .clear-wrapper-container{
        gap: 1rem;
    }

    .close-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-radius: 50%;
        background-color: var(--ternary-color);
    }
  

    .show-filter{
        position: absolute;
        display: block;
        width: 100vw;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: whitesmoke;
    }

    .filter-heading{
        font-size: 1.5rem;
    }

    .filter-title{
        font-weight: bold;
    }

    .filter-value label{
        font-size: 1rem;
    } 

}


