.order-details-container{
    border-radius: 5px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order-details-container .order-items-wrapper{
    padding: 0.5rem;
   
}

.order-details-container .title{
    padding: auto;
    margin:auto;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
}

.order-details-container .title:first-of-type{
    margin-top: 0.5rem;
}

.order-details-container .item{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    font-size: 18px;
    margin-bottom: 0.25rem;
}

.order-details-container .address-wrap{
    padding: 0 10%;
    font-size: 18px;
    margin-bottom: 0.5rem;
  
}

.order-details-container .place-order-btn{
    margin: 0.8rem 2.5rem;
    font-size: 24px;
    width: -webkit-fill-available;
    padding: 0.6rem 0;
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.order-details-container .place-order-btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.grand-total{
    font-weight: bold;
}


